<div>Xin chào <strong style="color: #0000FF"><%= TenKhachHang %></strong>,</div>
&nbsp;
<div>Bạn đang thực hiện giao dịch chuyển khoản đến <strong style="color: #0000FF"><%= SoTaiKhoanNguoiNhan %></strong> (Tên chủ sở hữu: <strong style="color: #0000FF"><%= TenChuSoHuu %></strong>, Ngân hàng: <strong style="color: #0000FF"><%= TenNganHang %></strong>) với số tiền <strong style="color: #0000FF"><%= SoTien %></strong> VNĐ, dưới đây là mã OTP của bạn: </div>
<h1 style="color: #5C946E"><%= OTPCode %></h1>
<div>Mã sẽ hết hạn sau 5 phút kể từ lúc thư này được gửi đi</div>
&nbsp;
<div><strong>Tại sao bạn nhận thư này?</strong></div>
<div>Ngân hàng 25BANK yêu cầu mỗi lần giao dịch chuyển khoản yêu cầu bắt buộc phải có mã OTP để xác nhận. Bạn không thể thực hiện chuyển khoản nếu bạn không xác nhận bằng mã OTP</div>
&nbsp;
<div>Nếu bạn không thực hiện yêu cầu này, hãy bỏ qua nó</div>
<div>Vui lòng không gửi thư phản hồi lại qua email này</div>
&nbsp;&nbsp;
<div>25BANK hỗ trợ</div> 